<div class="editor-row">
	<div class="section gf-form-group">
		<h5 class="section-heading">Functional Options</h5>
		<div class="gf-form-inline">
			<div class="gf-form">
				<label class="gf-form-label width-10">Device name
						<tip>Determines the device whose state is controlled with this switch</tip></label>
				<input type="text" class="gf-form-input width-16" ng-model="ctrl.panel.deviceName" placeholder="" ng-model-onblur></input>
				<label class="gf-form-label width-10">Control variable
					<tip>Determines the name of the variable whose state is controlled with this switch</tip></label>
			<input type="text" class="gf-form-input width-16" ng-model="ctrl.panel.stateControlVariable" placeholder="" ng-model-onblur></input>
			</div>
		</div>
		<div class="gf-form-inline">
			<div class="gf-form">
				<label class="gf-form-label width-10">Polling interval (s)
					<tip>Periodic backend check to determine whether the switch is in the correct state</tip>
				</label>
				<input type="number" class="gf-form-input width-8" data-placement="right" ng-model="ctrl.panel.pollingInterval" ng-change="ctrl.poll()" ng-model-onblur>
			</div>
		</div>
	</div>
</div>
<div class="editor-row">
	<div class="section gf-form-group">
		<h5 class="section-heading">Style Options</h5>
		<div class="gf-form-inline">
			<div class="gf-form">
				<label class="gf-form-label width-10">Switch model</label>
				<div class="gf-form-select-wrapper width-10">
					<select class="gf-form-input" ng-model="ctrl.panel.switchModel" ng-options="f for f in ctrl.panel.switchModelOptions" ng-change="ctrl.onChangeStyle()"></select>
				</div>
			</div>
		</div>
		<div class="gf-form-inline">
			<div class="gf-form">
				<label class="gf-form-label width-5">Off state</label>
				<span class="gf-form-label"><spectrum-picker ng-model="ctrl.panel.offStateColour" ng-change="ctrl.onChangeStyle()" ></spectrum-picker></span>
			</div>
			<div class="gf-form">
				<label class="gf-form-label width-10">Off state background</label>
				<span class="gf-form-label"><spectrum-picker ng-model="ctrl.panel.offStateBackgroundColour" ng-change="ctrl.onChangeStyle()" ></spectrum-picker></span>
			</div>
			<div class="gf-form">
				<label class="gf-form-label width-5">On state</label>
				<span class="gf-form-label"><spectrum-picker ng-model="ctrl.panel.onStateColour" ng-change="ctrl.onChangeStyle()" ></spectrum-picker></span>
			</div>
			<div class="gf-form">
				<label class="gf-form-label width-10">On state background</label>
				<span class="gf-form-label"><spectrum-picker ng-model="ctrl.panel.onStateBackgroundColour" ng-change="ctrl.onChangeStyle()" ></spectrum-picker></span>
			</div>
		</div>
	</div>
</div>
